@import 'base';

a {
    &[href^="http://"]:not([href*="127.0.0.1"], [href*="docs.keyoxide.org"]):after, &[href^="https://"]:not([href*="127.0.0.1"], [href*="docs.keyoxide.org"]):after {
        content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=);
        display: inline-block;
        margin-left: 4px;
        transform: translateY(-1px);
    }
}