<p>
    The following proof formats are supported:
    {% if no_uri %}{% else %}<a href="/understanding-keyoxide/identity-proof-formats#URI">URI</a>{% endif %}
    {% if no_message %}{% else %}<a href="/understanding-keyoxide/identity-proof-formats#Message">Message</a>{% endif %}
    {% if no_profile_url %}{% else %}<a href="/understanding-keyoxide/identity-proof-formats#Profile_URL">Profile URL</a>{% endif %}
</p>