<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ trans(key="base_title", lang=lang) }}{% endblock title %}</title>
    <link rel="stylesheet" href="/style.css?hash={{ get_file_hash(path='sass/style.scss', sha_type=256) }}">
    <link rel="shortcut icon" href="/favicon.svg" type="image/svg">
    {% block rss %}{% endblock rss %}
</head>
<body>
    
    <div class="container">
        <header class="small-screen">
            <h1>
                <a href="/">
                    {% set image = resize_image(path="/logo_circle_1024.png", width=256, op="fit_width") %}
                    <img src="{{ image.url }}" title="Keyoxide logo" />
                    {{ trans(key="nav_title", lang=lang) }}
                </a>
            </h1>
        </header>

        <main>
            {% block content %}
                <div class="flags">
                    {% set lang_en = section.translations | filter(attribute="lang", value="en") | first %}
                    <a href="{{ lang_en.permalink }}"><img src="/en.svg" alt="EN"></a>
                    {% for t in section.translations %}
                        {% if t.lang != "en" %}
                            <a href="{{ t.permalink }}"><img src="/{{ t.lang }}.svg" alt="{{ t.lang | upper }}"></a>
                        {% endif %}
                    {% endfor %}
                </div>

                <p class="subtitle">&nbsp;</p>
                <h1>{{ section.title }}</h1>

                {{ section.content | safe }}
            {% endblock content %}

            <footer>
                <p>
                    Content licensed under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" rel="nofollow">CC BY-NC-SA 4.0</a>.
                    <br>
                    Last updated: {{ now(utc=true) | date(format="%Y-%m-%d %H:%M") }} UTC
                </p>
            </footer>
        </main>
        <aside>
            {% if lang == "en" %}
                {% set _section = get_section(path="_index.md") %}
            {% else %}
                {% set _section = get_section(path="_index."~lang~".md") %}
            {% endif %}
            <header class="large-screen">
                <h1>
                    <a href="/">
                        {% set image = resize_image(path="/logo_circle_1024.png", width=256, op="fit_width") %}
                        <img src="{{ image.url }}" title="Keyoxide logo" />
                        {{ trans(key="nav_title", lang=lang) }}
                    </a>
                </h1>
            </header>
            <nav>
                <a {% if current_path == _section.path %}class="active"{% endif %} href="{{ _section.path }}">{{ _section.title }}</a>
                {% for p in _section.subsections %}
                    {% set subsection = get_section(path=p) %}
    
                    <details {% if current_path is starting_with(subsection.path) %}open{% endif %}>
                        <summary>
                            {{ subsection.title }}
                            <span class="flex"></span>
                            <img src="/chevron-up.svg" class="collapse" alt="Collapse">
                            <img src="/chevron-down.svg" class="expand" alt="Expand">
                        </summary>
    
                        {% for page in subsection.pages %}
                            <a {% if current_path == page.path %}class="active"{% endif %} href="{{ page.permalink | safe }}">{{ page.title }}</a>
                        {% endfor %}
                    </details>
                {% endfor %}

                <div class="flags">
                    {% set lang_en = _section.translations | filter(attribute="lang", value="en") | first %}
                    <a href="{{ lang_en.permalink }}"><img src="/en.svg" alt="EN"></a>
                    {% for t in _section.translations %}
                        {% if t.lang != "en" %}
                            <a href="{{ t.permalink }}"><img src="/{{ t.lang }}.svg" alt="{{ t.lang | upper }}"></a>
                        {% endif %}
                    {% endfor %}
                </div>
            </nav>
            
        </aside>
    </div>

</body>
</html>