{% extends "index.html" %}

{% block title %}
    {{ page.title }} — {{ trans(key="base_title", lang=lang) }}
{% endblock title %}

{% block content %}
    {% set _section = get_section(path=page.ancestors | last) -%}
    <p class="subtitle">{{ _section.title }}</h1>
    <h1>{{ page.title }}</h1>

    <h2>Create the proof</h2>

    {{ page.content | safe }}

    <h2>Add the claim…</h2>

    <p>The claim looks as follows:</p>

    <pre><code>{{ page.extra.claim_syntax }}</code></pre>

    {% if page.extra.claim_variables %}
        <p>Make sure to replace 
            {% for variable in page.extra.claim_variables %}{% if loop.index > 1 %}{% if loop.last %} and {% else %}, {% endif %}{% endif %}{{ variable }}{% endfor %}.
        </p>
    {% endif %}

    <h3>…to a signature profile:</h3>

    <p>Follow the <a href="/signature-profiles">instructions provided here</a>. The claim should look like:</p>

    <pre><code>proof={{ page.extra.claim_syntax }}</code></pre>

    <h3>…to an OpenPGP profile:</h3>

    <p>Follow the <a href="/openpgp-profiles">instructions provided here</a>. The notation should look like:</p>

    <pre><code>proof@ariadne.id={{ page.extra.claim_syntax }}</code></pre>
{% endblock content %}